.plantilla__texto{
    display: none ;
}

.texto__titulo{
    color: var(--background-objetos);
}

.texto__numparrafo{
    color: var(--background-objetos);
}

.texto__textareadiv{
    display: flex;
    justify-content: center;
}

.texto__caja{
    width: 80%;
    height: 50vh;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--background-objetos);
    box-shadow:  10px 15px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}